body {
  background: black;
}

/* Saat */
.clock {
  text-align: center;
  color: #e98208;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  margin-top: 20px;
}

/* Merhaba yazısı */
.text1 {
  text-align: center;
  color: #e98208;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  margin-top: 20px;
}

/* Açıklama metni */
.text2 {
  text-align: center;
  color: #e98208;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;   /* önemli */
  margin: 20px 100px;
}

img {
  margin-top: 120px;
  width: 17%;
}